<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin-square"></i>
        </div>
        <div class="f-info-brand"> &copy; Designed and Developed by Kanjul Verma</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>