<style>
  .btn-search{
    background-color: #156669;
    color: white;
    border-radius: 25px;
  }

  .btn-search:hover{
    border-color: #156669;
    color: #156669;
  }

  .btn-search i{
    display: inline;
  }

  .search-inp{
    border-radius: 25px;
    width: 30rem;
    font-size: 0.8;
  }

  .navbar {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }

    .navbar-nav {
      display: flex;
      gap: 1rem;
      margin-right: 10rem; /* Moves the navbar links to the right */
    }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-medkit" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

       <!-- SearchBox -->
       <form class="d-flex needs-validation" novalidate role="search" method="GET" action="/HealthConnect/explore/search">
        <input class="form-control me-2 search-inp" type="search" name="title" placeholder="Search Insurance" aria-label="Search">
        <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>


      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
          <a class="nav-link" href="/HealthConnect">Home</a>
          <a class="nav-link" href="/HealthConnect/explore">Explore</a>
          <a class="nav-link" href="/HealthConnect/claim">Claim</a>
          <a class="nav-link" href="/HealthConnect/premium">Premium</a>
          <a class="nav-link" href="#">Blog</a>
          <a class="nav-link" href="#">Contact</a>
          <a class="nav-link btn btn-dark add-btn"  href="/login" style="margin-right: 10px; color: white !important;">Login</a>
          <a class="nav-link btn btn-dark add-btn" href="/signup" style="margin-right: 10px; color: white !important;">Signup</a>
        <% } %>
        <% if(currUser){ %>
          <a class="nav-link" href="/HealthConnect">Home</a>
          <a class="nav-link" href="/HealthConnect/explore">Explore</a>
          <a class="nav-link" href="/HealthConnect/claim">Claim</a>
          <a class="nav-link" href="/HealthConnect/premium">Premium</a>
          <a class="nav-link" href="#">Blog</a>
          <a class="nav-link" href="#">Contact</a>
          <a class="nav-link btn btn-dark add-btn" href="/logout" style="margin-right: 10px; color: white !important;"> Logout</a>
        <% } %>
    </div>
    </div>
  </nav>